html
{
    overflow: hidden;
}
body
{
    background-image: linear-gradient(#1c96c5, #cfecf7, #cfecf7 );
}
#sky
{
    width: 100%;
    max-width: 100%;
    height: 100;
    z-index: -2;
    overflow-x: clip;
}
#sky :nth-child(1)
{
    height: 100;
    width: 200;
    animation: clouds 20s linear infinite;
    background-image: url("Animation/Cloud.svg");
}
#sky :nth-child(2)
{
    height: 50;
    width: 100;
    animation: clouds 40s linear infinite;
    background-image: url("Animation/CloudSmall.png")
}
#sky :nth-child(3)
{
    height: 20;
    width: 40;
    animation: clouds 50s linear infinite;
    background-image: url("Animation/Cloud.svg");
}
#sky :nth-child(4)
{
    height: 80;
    width: 160;
    animation: clouds 30s linear infinite;
    background-image: url("Animation/CloudSmall.png")
}
#sky :nth-child(5)
{
    height: 100;
    width: 200;
    animation: clouds 16s linear infinite;
    background-image: url("Animation/Cloud.svg");
}
#sky :nth-child(6)
{
    height: 50;
    width: 100;
    animation: clouds 45s linear infinite;
    background-image: url("Animation/CloudSmall.png")
}
.cloud
{
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -2;
}
@keyframes clouds {
    0% {
        translate: -10vw 0;
    }

    100% {
        translate: 100vw 0;
    }
}

#container
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50;
    z-index: 2;
}

.box
{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Animation/!.svg);
}

#jump-man
{
    width: 100px;
    height: 100px;
    position: relative;

    
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(Animation/Mattio2.svg);
}

.factani {
    animation-name: JUMP-FACT;
    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes JUMP-FACT
{
    0% { 
        background-image: url(Animation/Mattio2.svg);
    }
    10% { 
        background-image: url(Animation/Mattio3.svg);
    }
    20% { 
        background-image: url(Animation/Mattio4.svg);
    }
    30% { 
        background-image: url(Animation/Mattio3.svg);
    }
    40% {
        translate: 19vw 0;
    }
    45% {
        translate: 19vw 0;
        background-image: url(Animation/Mattio2.svg);
    }
    55% {
        translate: 19vw -310px;
        background-image: url(Animation/Mattio1.svg);
    }
    70% {
        translate: 19vw 0;
        transform: scaleX(1);
        background-image: url(Animation/Mattio3.svg);
    }
    80% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio4.svg);
    }
    90% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio3.svg);
    }
    100% {

        background-image: url(Animation/Mattio2.svg);
    }
}

.goalani {
    animation-name: JUMP-GOAL;

    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes JUMP-GOAL
{
    0% { 
        background-image: url(Animation/Mattio2.svg);
    }
    10% { 
        background-image: url(Animation/Mattio3.svg);
    }
    20% { 
        background-image: url(Animation/Mattio4.svg);
    }
    30% { 
        background-image: url(Animation/Mattio3.svg);
    }
    40% {
        translate: 46vw 0;
    }
    45% {
        translate: 46vw 0;
        background-image: url(Animation/Mattio2.svg);
    }
    55% {
        translate: 46vw -310px;
        background-image: url(Animation/Mattio1.svg);
    }
    70% {
        translate: 46vw 0;
        transform: scaleX(1);
        background-image: url(Animation/Mattio3.svg);
    }
    80% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio4.svg);
    }
    90% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio3.svg);
    }
    100% {

        background-image: url(Animation/Mattio2.svg);
    }
}

.modelani {
    animation-name: JUMP-MODEl;

    animation-duration: 4s;
    animation-direction: alternate;
}

@keyframes JUMP-MODEl
{
    0% { 
        background-image: url(Animation/Mattio2.svg);
    }
    10% { 
        background-image: url(Animation/Mattio3.svg);
    }
    15% { 
        background-image: url(Animation/Mattio4.svg);
    }
    20% { 
        background-image: url(Animation/Mattio3.svg);
    }
    25% { 
        background-image: url(Animation/Mattio4.svg);
    }
    30% { 
        background-image: url(Animation/Mattio3.svg);
    }
    35% { 
        background-image: url(Animation/Mattio4.svg);
    }
    40% {
        translate: 73vw 0;
    }
    45% {
        translate: 73vw 0;
        background-image: url(Animation/Mattio2.svg);
    }
    55% {
        translate: 73vw -310px;
        background-image: url(Animation/Mattio1.svg);
    }
    70% {
        translate: 73vw 0;
        transform: scaleX(1);
        background-image: url(Animation/Mattio3.svg);
    }
    80% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio4.svg);
    }
    85% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio3.svg);
    }
    90% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio4.svg);
    }
    95% {
        transform: scaleX(-1);
        background-image: url(Animation/Mattio3.svg);
    }
    100% {

        background-image: url(Animation/Mattio2.svg);
    }
}

#animation
{
    margin-top: 200;
}

#ground
{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background-image: 
    linear-gradient(#3f9b0b, #9e3333, #9e3333, #9e3333, #9e3333, #9e3333, #9e3333, #9e3333, #9e3333);
}
#modal-fact
{
    display: flex;
    justify-content: center;
    width: 80vw;
    background-color: #ffc18c;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    align-self: center;
    border-radius: 3%;
    transform: translateY(-50%);

    opacity: 0;
    z-index: 20;
    padding: 2rem;
}
#modal-fact.visable
{
    opacity: 1;
}
#exit-fact
{
    width: 50;
    height: 20;
}
#model-inner
{
    top: 0;
}
h2
{
    margin-top: 0;
    text-align: center;
}